{% extends 'admin/admin.html.twig' %}

{% block title "Editer une recette" %}

{% block body %}
    <h1>
        {{ recipe.title }}
    </h1>

    <p>
        <img src="{{ vich_uploader_asset(recipe, 'thumbnailFile') }}" alt="{{ recipe.title }}" width="300px">
    </p>
    {{form(form)}}
{% endblock %}